body {
  	margin: 0;
  	padding: 0;
  	font-family: 
	  			-apple-system, 
				BlinkMacSystemFont, 
				"Roboto", 
				"Oxygen",
    			"Ubuntu", 
				"Cantarell", 
				"Fira Sans", 
				"Droid Sans", 
				"Helvetica Neue",
    			sans-serif;
	font-size: 14px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: bluescale;
}


.img-logo {
  	width: 2%;
}

.sign-page-root {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: lightblue;
}

.sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	padding: 3% 7% 3% 7%;
	margin-top: 10vh;
	background-color: white;
	border-radius: 8px;
	border: 1px solid lightblue;
}

.sign-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sign-logo {
	width: 50px;
	display: block;
}

.sign-content {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.sign-content h3 {
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

.form-sign-input-text {
	height: 100%;
	width: 100%;
	border: 1px solid lightblue;
	border-radius: 8px;
	font-size: 14px;
	padding: 2px 5px 2px 5px;
	outline: none;
	background-color: white;
}

.form-sign-input-label {
	color: black;
	font-size: 14px;
	margin: 5% 0 5% 0;
}

.sign-button-bar {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.sign-button-bar input {
	margin-left: 10px;
}

.sign-type-swipe-question {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.form-sign-button {
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.form-sign-button:hover,
.form-sign-button:focus {
	opacity: 0.75;
}

.positive {
	background-color: black;
	color: white;
}

.negative {
	background-color: lightblue;
	color: black;
}

.select-label {
	font-size: 14px;
	padding: 10px 10px 10px 10px;
}

.select-item {
	font-size: 14px;
	padding: 8px 16px 8px 16px;
}

.sign-error-message {
	font-size: 14px;
	color: brown;
	background-color: pink;
	padding: 2px 3px 2px 3px;
	border-radius: 2px;
}


.post-edit-container {
	border-left: 5px solid lightblue;
	background-color: rgba(240, 240, 240, .5);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}

.post-edit-profil {
	margin: 0px 10px 0px 10px;
}

.post-edit-profil-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.post-edit-sub-container {
	width: 100%;
}

.post-edit-text {
	font-size: 16px;
	font-family: inherit;
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	outline: none;
	background-color: inherit;
}

.post-edit-text:hover,
.post-edit-text:focus {
	border: none;	
}

.post-edit-more-content {
	width: 99%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	border: 1px solid lightblue;
	margin: 5px 0 5px 0;
	padding: 5px 5px 5px 5px;
}

.post-edit-actions-bar {
	display: flex;
	flex-direction: row;
}

.post-edit-actions-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-edit-action-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 10px 10px;
	width: 20px;
	height: 20px;
}

.post-edit-action-icon:hover {
	background-color: lightblue;
	border-radius: 50%;
}

.post-edit-action-icon-file {
	display: none;
}

.post-edit-action-icon-image {
	width: 100%;
}

.post-edit-action-text-button {
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	border: none;
	position: absolute;
	right: 2vw;
	color: white;
}

.post-edit-action-text-button-disabled {
	background-color: lightblue;
}

.post-edit-action-text-button-active {
	background-color: black;
}

.post-edit-action-text-button-active:hover {
	opacity: .9;
}


.feed-more-menu {
	display: none;
	position: fixed;
	z-index: 9;
	top: 9vh;
	right: 10vw;
	font-size: 14px;
	border-radius: 8px;
	min-width: 200px;
	background-color: white;
}

.feed-more-menu-container:hover .feed-more-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feed-more-menu-item {
	border: none;
	border-bottom: 1px solid lightblue;
	width: 100%;
	padding: 10px 10px 10px 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.feed-more-menu-item:hover {
	border: 1px solid lightblue;
	background-color: rgba(248, 248, 248, 1);
	border-radius: 8px;
}

.feed-more-menu-item-image {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}


.feed-notifications-container:hover 
.notification-list-view-container {
	display: flex;
	flex-direction: column;
}

.notification-list-view-container {
	display: none;
	position: fixed;
	z-index: 9;
	top: 9vh;
	right: 15vw;
	min-width: 30vw;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid lightblue;
	border-radius: 8px;
}

.notification-list-view-header {
	background-color: lightblue;
	border-bottom: 1px solid lightblue;
	padding-left: 5px;
}

.notification-list-view-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 60vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 14px;
}

.notification-view-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 10px 10px 10px;
	width: 100%;
	border-bottom: 1px solid lightblue;
}

.notification-view-container:hover {
	background-color: rgba(240, 240, 240, .5);
	cursor: pointer;
}

.notification-view-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.notification-view-title {
	font-weight: bold;
}


.feed-navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 6vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: 1% 2% 1% 2%;
	border-bottom: 2px solid lightblue;
	background-color: rgba(248, 248, 248, 1);
}

.feed-navigation-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.feed-navigation-logo img {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 15vw;
}

.feed-navigation-search-bar-input {
	border-radius: 3px;
	font-size: 14px;
	outline: none;
	padding: 10px 10px 10px 10px;
	width: 20vw;
	color: black;
	border: solid 1px lightblue;
	position: absolute;
	left: 20vw;
}

.feed-navigation-menu {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 15vw;
}

.feed-navigation-menu-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	width: 100%;
}

.feed-navigation-menu-item:hover {
	border: 1px solid lightblue;
	border-radius: 8px;
}

.feed-navigation-menu-item-image {
	width: 25px;
}


.feed-content {
	position: relative;
	top: 15vh;
	left: 15vw;
	width: 76vw;
	height: 100vh;
}

.feed-content-item-top {
	width: 100%;
	height: 8vh;
	padding-left: 20px;
}

.feed-content-home {
	display: flex;
	flex-direction: row;
	overflow-x: none;
}

.feed-content-home-main {
	display: flex;
	flex-direction: column;
	padding: 0 20px 0 20px;
	position: relative;
	left: 22vw;
	width: 50vw;
}

.feed-content-home-main-title {
	text-align: center;
	border-top: 1px solid lightblue;
	padding: 10px 0px 10px 0px;
	font-weight: bold;
	font-size: 15px;
}


.feed-content-home-left {
	width: 20vw;
	height: 90vh;
	position: fixed;
	top: 10vh;
	left: 15vw;
	height: 80vh;
}

.feed-content-home-suggestion-list-container {
	height: 60vh;
	overflow-y: scroll;
	overflow-x: none;
}

.feed-content-home-left-item {
	border-bottom: 1px solid lightblue;
	padding: 10px 10px 10px 10px;
}

.feed-content-user-infos {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.feed-content-user-infos-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.feed-content-user-infos-names {
	display: flex;
	flex-direction: column;
}

.feed-content-user-infos-names h4 {
	margin: 0;
}

.feed-content-user-infos-names h5 {
	margin: 0;
}

.feed-content-home-left-action-button {
	border-radius: 8px;
	border: none;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	cursor: pointer;
	margin: 0;
	background-color: lightblue;
}

.feed-content-home-left-action-button:hover {
	opacity: .7;
}

.feed-content-home-infos {
	color: black;
	background-color: lightblue;
	font-size: 11px;
}

.feed-content-home-infos a {
	margin: 0px 3px 0px 3px;
}

.feed-content-home-infos a, .feed-content-home-infos a:visited {
	color: black;
}


.storie-preview-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
}

.storie-preview-container {
	width: 1000px;
	height: 250px;
	border: solid 1px lightblue;
	display: grid;
	grid-template-rows: 3fr 1fr;
	margin: 0;
}

.storie-preview-container:hover {
	background-color: rgba(240, 240, 240, .5);
}

.storie-preview-content {
	border-bottom: solid 1px lightblue;
	display: flex;
	align-items: center;
}

.storie-preview-content img {
	width: 100%;
}

.storie-preview-title {
	text-align: center;
	font-weight: bold;
}



.post-view-container {
	border-top: 1px solid lightblue;
	padding: 10px 20px 10px 20px;
	transition: transform .5s;
}

.post-view-reply-container {
	border-left: 3px solid lightblue;
	padding-left: 10px;
	margin-bottom: 10px;
	background-color: rgba(240, 240, 240, .5);
	cursor: pointer;
}

.post-view-container:hover {
	background-color: rgba(240, 240, 240, .5);
}

.post-view-reply-container:hover {
	background-color: rgba(125, 194, 255, 0.281);
}

.post-view-prologue {
	border-bottom: 1px solid lightblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
}

.post-view-prologue-image {
	border-radius: 50%;
	width: 30px;
}

.post-view-prologue-username {
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin: 0 2px 0 2px;
}

.post-view-user-profil-preview {
	display: none;
	position: relative;
	border: 1px solid lightblue;
	box-shadow: 0 10px 25px rgba(80, 80, 80, .2);
}

.post-view-content-user-profile-picture:hover + .post-view-user-profil-preview,
.post-view-content-content-header-user-infos-names:hover + .post-view-user-profil-preview {
	display: flex;
	flex-direction: column;
}

.post-view-content {
	display: flex;
	flex-direction: row;
}

.post-view-content-user-profile-picture-image {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}	

.post-view-content-content {
	display: flex;
	flex-direction: column;
}


.post-view-content-content-header-user-infos {
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

.post-view-content-content-header-user-infos-names {
	font-weight: bold;
	margin-right: 2px;
	padding-right: 2px;
}

.post-view-content-content-header-user-infos-names:hover {
	text-decoration: underline;
}

.post-view-content-content-header-user-infos-username {
	font-weight: bold;
}

.post-view-content-content-header-post-infos {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px 3px 0px 3px;
}

.post-view-content-content-post-infos-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
}

.post-view-content-content-post-infos-item-image {
	width: 20px;
	margin-right: 2px;
	display: none;
}


.post-view-content-content-post-infos-item span {
	padding-left: 3px;
	padding-right: 3px;
}


.post-view-content-content-body-post-replyto-container {
	width: 100%;
}

.post-view-actions-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	border-top: 1px solid lightblue;
}

.post-view-action-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-view-action-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 10px 10px;
	border-radius: 50%;
}

.post-view-action-image-container-red:hover {
	background-color: lightcoral;
}

.post-view-action-image-container-blue:hover {
	background-color: lightblue;
}

.post-view-action-image-container-green:hover {
	background-color: lightgreen;
}

.post-view-action-item-image {
	width: 20px;
}

.post-view-action-item-name {
	margin-left: 5px;
	font-weight: 700;
}


.feed-content-messages-main,
.feed-content-stories-main {
	display: flex;
	flex-direction: row;
	border: 1px solid lightblue;
	width: 72vw;
	height: 80vh;
}

.feed-content-messages-left,
.feed-content-stories-left {
	width: 35vw;
}

.feed-content-messages-right,
.feed-content-stories-right {
	width: 100%;
}

.feed-content-messages-empty,
.feed-content-stories-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 20vh;
}

.feed-content-messages-empty-image,
.feed-content-stories-empty-image {
	width: 150px;
}


.feed-content-messages-empty-button,
.feed-content-stories-empty-button {
	border-radius: 8px;
	border: none;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	font-weight: bold;
	cursor: pointer;
	background-color: lightblue;
	border: 1px solid lightblue;
}

.feed-content-messages-empty-button:hover,
.feed-content-stories-empty-button:hover {
	background-color: white;
}

.messages-preview-list-container,
.stories-preview2-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid lightblue;
	height: 100%;
}

.messages-preview-list-title,
.stories-preview2-list-title {
	border-bottom: 1px solid lightblue;
	width: 100%;
	text-align: center;
}

.messages-preview-list-content,
.stories-preview2-list-content {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}

.messages-preview-container,
.stories-preview2-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid lightblue;
	padding: 10px 10px 10px 10px;
	width: 100%;
	cursor: pointer;
}

.messages-preview-container:hover,
.stories-preview2-container:hover {
	background-color: rgba(240, 240, 240, .8);
	border: 1px solid lightblue;
}

.messages-preview-image,
.stories-preview2-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.messages-preview-infos,
.stories-preview2-infos {
	margin-left: 3px;
}

.messages-preview-infos-title,
.stories-preview2-infos-title {
	font-weight: bold;
}

.messages-preview-infos-status,
.stories-preview2-infos-status {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.messages-preview-infos-status-image {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}


.messages-view-container {
	width: 100%;
	height: 80vh;
}

.messages-view-content {
	width: 100%;
	height: 57vh;
	overflow-x: scroll;
	overflow-x: hidden;
}

.messages-view-header {
	border-bottom: 1px solid lightblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 11px 0px 10px 10px;
}

.messages-view-header-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
}

.messages-view-header-title {
	font-weight: bold;
	cursor: pointer;
}


.message-view-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message-view-other-content,
.message-view-me-content {
	margin: 10px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	border: 1px solid lightblue;
	border-radius: 8px;
}

.message-view-other-content {
	margin-right: 40%;
}

.message-view-me-content {
	margin-left: 40%;
	background-color: lightblue;
}

.message-view-author-content {
	text-transform: capitalize;
	color: black;
	font-weight: bold;
}

.message-view-info-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.message-view-info-time {
	width: 100%;
	text-align: right;
	font-size: 12px;
	color: gray;
}


.messages-view-edit {
	height: 12vh;
	border-top: 1px solid lightblue;
	background-color: rgba(240, 240, 240, .8);
	padding: 10px 10px 10px 10px;
}


.message-edit-text {
	height: 7vh;
	width: 100%;
	border: 1px solid lightblue;
	border-radius: 7px;
	font-size: 14px;
	font-family: inherit;
	outline: none;
	background: none;
	background-color: white;
	resize: none;
}


.message-edit-actions-bar {
	display: flex;
	flex-direction: row;
}

.message-edit-actions-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message-edit-action-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 10px 10px;
	width: 20px;
	height: 20px;
}

.message-edit-action-icon:hover {
	background-color: lightblue;
	border-radius: 50%;
}

.message-edit-action-icon-file {
	display: none;
}

.message-edit-action-icon-image {
	width: 100%;
}


.message-edit-action-text-button {
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	border: none;
	position: absolute;
	right: 4.5vw;
	background-color: lightblue;
}

.message-edit-action-text-button-disabled {
	background-color: lightblue;
}

.message-edit-action-text-button-active {
	background-color: black;
}

.message-edit-action-text-button-active:hover {
	opacity: .9;
}



.feed-content-friends {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.feed-content-friends-main {
	height: 100%;
}

.feed-content-friends-top {
	width: max-content;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.feed-content-friends-top-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 4px;
}

.feed-content-friends-main {
	border: 1px solid lightblue;
	border-radius: 8px;
	height: 75vh;
	width: 35vw;
}

.follows-view-list-titles-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid lightblue;
}

.follows-view-list-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
}

.follows-view-list-title-select {
	border-bottom: 3px solid lightblue;
}

.follows-view-list-title-value {
	font-weight: bold;
}

.follows-view-list-content {
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 5px 0 5px;
}


.follow-view-item-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.feed-content-home-suggestion-list-container
.follow-view-item-names {
	max-width: 80px;
}

.follow-view-item-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
}

.follow-view-item-names {
	display: flex;
	flex-direction: column;
	width: 100%;
	cursor: pointer;
}

.follow-view-item-names-names {
	font-weight: bold;
}

.follow-view-item-menu-image {
	width: 15px;
	height: 15px;
}

.follow-view-item-menu-content {
	display: none;
}

.follow-view-item-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.follow-view-item-action-item {
	border-radius: 8px;
	border: none;
	padding: 10px 10px 10px 10px;
	margin: 10px 5px 10px 5px;
	font-weight: bold;
	cursor: pointer;
}

.follow-view-item-action-item:hover {
	opacity: 0.7;
}

.follow-view-item-action-item-postive {
	color: black;
	background-color: white;
}

.follow-view-item-action-item-negative {
	color: black;
	background-color: lightblue;
}

.follow-view-item-action-item-red {
	color: red;
	background-color: rgba(80, 80, 80, .1)
}


.feed-content-profil {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 72vw;
}

.user-profil-view-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50vw;
}

.user-profil-view-header {
	width: 50vw;
	display: flex;
	flex-direction: row;
}

.user-profil-view-header-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0px 10% 0px 10%;
}

.user-profil-view-header-infos {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.user-profil-view-header-infos-names-private {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-profil-view-header-infos-names {
	display: flex;
	flex-direction: column;
}

.user-profil-view-header-infos-names-names {
	font-weight: bold;
	font-size: 16px;
}

.user-profil-view-header-infos-names-username {
	font-size: 15px;
}

.user-profil-view-header-infos-private-image {
	width: 20px;
	height: 20px;
}

.user-profil-view-header-infos-counters {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

.user-profil-view-header-infos-counters-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
}

.user-profil-view-header-infos-counters-item .value {
	font-weight: bold;
}

.user-profil-view-header-infos-biography {
	white-space: pre-line;
	margin-top: 20px;
}

.user-profil-view-header-infos-biography h4 {
	margin: 0;
}

.user-profil-view-header-infos-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

.user-profil-view-header-infos-action-item {
	border-radius: 8px;
	border: none;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.user-profil-view-header-infos-action-item:hover {
	background-color: lightblue;
}

.user-profil-view-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.user-profil-view-content-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;	
	width: 100%;
	border-top: 1px solid lightblue;
	margin-top: 20px;
}

.user-profil-view-content-navigation-item {
	width: 100%;
	text-align: center;
	height: 100%;
}

.user-profil-view-content-navigation-item span {
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
}


.feed-content-update-profil {
	display: grid;
	grid-template-columns: 1fr 3fr;
	border: 1px solid lightblue;
	margin-bottom: 20px;
	width: 72vw;
}

.feed-content-update-profil-navigation {
	display: flex;
	flex-direction: column;
	border-right: 1px solid lightblue;
}

.feed-content-update-profil-navigation-item {
	text-decoration: none;
	display: block;
	padding: 20px 10px 20px 10px;
	border: none;
	border-bottom: 1px lightblue solid;
	color: black;
	background-color: inherit;
	cursor: pointer;
}

.feed-content-update-profil-content {
	margin: 10px 50px 10px 50px;
	height: 95vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.user-update-profil-view-container {
	display: flex;
	flex-direction: column;
	width: 30vw;
}

.user-update-profil-view-resume {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.user-update-profil-view-resume-picture-names {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

.user-update-profil-view-resume-names {
	margin-left: 10px;
}

.user-update-profil-view-resume-names-names {
	font-weight: bold;
}

.user-update-profil-view-resume-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.user-profil-view-resume-button {
	font-weight: bold;
	color: black;
	cursor: pointer;
}

.user-update-profil-view-content {
	display: flex;
	flex-direction: column;
}

.user-update-profil-view-content-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.user-update-profil-view-content-item-label {
	font-weight: bold;
	width: 200px;
	margin-right: 5px;
	text-align: right;
}

.user-update-profil-view-content-item-text {
	height: 20px;
	width: 100%;
	border: 1px solid lightblue;
	border-radius: 7px;
	font-size: 14px;
	padding: 1% 2% 1% 2%;
	outline: none;
	background: none;
	background-color: white;
}

.user-update-profil-view-content-item textarea {
	resize: none;
	height: 80px;
	font-family: inherit;
}


.user-update-profil-view-error {
	text-align: center;
	font-size: 14px;
	color: brown;
	background-color: pink;
	padding: 2px 3px 2px 3px;
	border-radius: 2px;
}

.user-update-profil-view-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
}

.user-update-profil-view-button {
	border-radius: 8px;
	border: none;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
}

.user-update-profil-view-button:hover {
	background-color: lightblue;
}



.poll-editor-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.poll-editor-title-content-input,
.poll-editor-items-content-item-input {
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	border-radius: 8px;
	border: 1px solid lightblue;
	width: 95%;
}

.poll-editor-title-content-input {
	font-size: 14px;
	font-weight: bold;
}

.poll-editor-title-content, 
.poll-editor-items-content-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.poll-editor-items-content-item-info {
	font-size: 11px;
	width: 30px;
}

.poll-editor-timer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
}

.poll-editor-timer-content-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 5px;
}

.poll-editor-timer-content-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5px;
	width: 100px;
}


.poll-editor-timer-content-item-select {
	padding: 10px 10px 10px 10px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid lightblue;
	outline: none;
	background-color: inherit;
}

.poll-editor-actions-content-item {
	width: 100%;
	border-radius: 8px;
	border: none;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	cursor: pointer;
	color: red;
	background-color: inherit;
}

.poll-editor-actions-content-item:hover {
	background-color: pink;
}


.media-edit-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.media-edit-item-container {
	display: flex;
	flex-direction: column;
	width: 95%;
	border-radius: 8px;
	border: 1px solid lightblue;
	margin: 5px 5px 5px 5px;
}

.media-edit-item-sub-container {
	display: flex;
	flex-direction: row;
}

.media-edit-item-content {
	width: 100%;
	border-radius: 8px;
}

.media-edit-item-delete {
	position: relative;
	right: 35px;
	top: 5px;
	width: 20px;
	height: 20px;
	padding: 5px 5px 5px 5px;
	border-radius: 50%;
	border: 1px solid lightblue;
	background-color: white;
}

.media-edit-item-description-text {
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
}