.text-label input {
  background-color: red;
}


#password {
  background-color: #457fff;
}

.link-button {
  background-color: darkred;
}

header { background-color: aliceblue;
         margin: 1% 25% 1% 25%;
}
.Recherche { 
         margin: 1% 70% 1% 25%;
}
main { background-color: blueviolet;}